@import "tailwindcss";

body{
    overflow:hidden;
}

*{
    margin: 0;
    padding: 0;
}

.head-name{
    margin: -2rem 0 2rem 0;
}

h2{
    font-size: 1.4rem;
    font-weight: 500;
}

.butn{
    margin-top: 3rem;
}

.searchBox{
    height: 10rem;
}

.app-name{
    display: none;
}

.info-box{
    margin-top: 3rem;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 27.4rem;
}

.each-info p{
    line-height: 1.65rem;
}

.backGround{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-content{
    height: 100%;
}

.mainCard{
    width: 100%;
    height: 100%;
}

.myImg{
    object-fit: contain;
    width: 28rem;
    border-radius: 10px;
}

.extra-interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.main-mera{
    width: 20%;
    height: 85%;
    background-color: rgb(124, 164, 234);
    color: black;
    border-radius: 1rem;
    padding-top: .4rem;
}

/* ______________________________                     Responsive Design                        __________________________ */

/*________________________________   MObile Phone _____________________________ */

@media only screen and (max-width: 600px)
{
    body{
        background-color: rgb(124, 164, 234);
        overflow: hidden;
    }

    .extra-interface{
        display: none;
    }

    .title-name , .head-name , .myImg{
        display: none;
    }

    .app-name{
        display: inline-block;
        font-size: 2rem;
        margin: .8rem 0rem .5rem 0rem;
    }

    .main-mera{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .info-box{
        width: 100%;
        height: 100%;
    }

    .mainCard{
        margin-top: 1rem;
    }
}


/* ____________________________________   For IPAD Mini __________________________________________  */

@media only screen and (min-width: 600px)
{
    .backGround{
        padding-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .extra-interface{
        justify-content: space-around;
        height: 40%;
    }

    .main-mera{
        height:50%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1rem;
    }

    .searchBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 40%;
        width: 50%;
    }

    .info-box{
        height: 100%;
        margin-top:-.1%;
        width:48%;
    }

    .mainCard{
        width: 100%;
        height: 100%;
    }
}

/* ______________________________________ IPAD Pro ______________________________ */

@media only screen and (min-width: 900px)
{
    .backGround{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .extra-interface{
        height: 40%;
        justify-content: space-around;
    }

    .main-mera{
        height:50%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1rem;
    }

    .searchBox{
        margin: 0 -3rem 0 3rem;
        height: 45%;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .info-box{
        height: 100%;
        margin-top:-.1%;
        width:48%;
    }

    .mainCard{
        width: 100%;
        height: 100%;
    }
}




/* ______________________________________  */

@media only screen and (min-width: 1100px)
{
    .backGround{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 0;
    }

    .extra-interface{
        padding: .3rem;
        justify-content: space-around;
        height: 65%;
    }

    .searchBox{
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 70%;
    }

    .main-mera{
        flex-direction: column;
        width: 30%;
        height: 95%;
        padding: 0;
    }

    .info-box{
        width: 100%;
        margin-top: 1rem;
    }

    .mainCard{
        width: 100%;
    }
}